h1 {
    border: 2px #eee solid;
    color: red;
    text-align: center;
    padding: 10px;
    background-color: #F5F5F5
}

h2 {
    border: 2px #eee solid;
    color: red;
    text-align: center;
    padding: 10px;
    background-color: #F5F5F5
}
 p {
        font-size: 15pt;
        text-align: right;
    }
 body {
        background-color : blue;
 }