h1 {
    border: 2px #eee solid;
    color: blue;
    text-align: center;
    padding: 10px;
    background-color: #F5F5F5
}

h2 {
    border: 2px #eee solid;
    color: red;
    text-align: center;
    padding: 10px;
    background-color: #F5F5F5
}
 p {
        font-size: 15pt;
        text-align: right;
    }
 body {
        background-color : white;
 }
 div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }