<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Welcome</title>
</head>
<body>
   <h1>Bienvenidos a nuestra aplicación</h1>

    <div class="container">
      <h4>Cat Gif of the day</h4>
      <img src="{{url}}" />
      <p><small>Image Courtesy: <a href="http://www.tenor.com">Tenor</a></small></p>
      <p><small>Refresh the page for a new cat gif :)</small></p>

    </div>
</body>
</html>